In [4]:
import sqlite3
import csv

In [2]:
con = sqlite3.connect('babynames.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS babynames (year int, name text, percent real, sex text)")
con.commit()
con.close()

In [5]:
# load data
csvfile = open('data/baby-names.csv','r')
reader = csv.DictReader(csvfile)
data = [row for row in reader]
csvfile.close()

# clean data
for d in data:
    d['year'] = int(d['year'])
    d['percent'] = float(d['percent'])

# insert in table
con = sqlite3.connect('babynames.db')
cur = con.cursor()
for d in data:
  cur.execute("INSERT INTO babynames VALUES(?,?,?,?)",tuple(d.values()))
con.commit()
con.close()

In [23]:
con = sqlite3.connect('babynames.db')
cur = con.cursor()
cur.execute("select name,count(*),max(year) from babynames where percent>0.03 group by name")
z = cur.fetchall()
con.commit()
con.close()

In [24]:
z

[('Barbara', 7, 1943),
 ('Betty', 6, 1933),
 ('Charles', 15, 1894),
 ('Christopher', 5, 1985),
 ('David', 24, 1970),
 ('Dorothy', 5, 1925),
 ('George', 25, 1904),
 ('Helen', 4, 1918),
 ('James', 92, 1971),
 ('Jason', 5, 1978),
 ('Jennifer', 13, 1983),
 ('John', 91, 1970),
 ('Linda', 9, 1953),
 ('Lisa', 3, 1967),
 ('Mary', 76, 1955),
 ('Michael', 42, 1990),
 ('Patricia', 1, 1951),
 ('Richard', 15, 1947),
 ('Robert', 57, 1970),
 ('Shirley', 2, 1936),
 ('William', 74, 1953)]