In [7]:
import sqlite3
import csv

con = sqlite3.connect('babynames.db')
cur = con.cursor()
cur.execute("DROP TABLE IF EXISTS babynames")
cur.execute("CREATE TABLE IF NOT EXISTS babynames (year int, name text, percent real, sex text)")
con.commit()
con.close()

# load data
csvfile = open('data/baby-names.csv','r')
reader = csv.DictReader(csvfile)
data = [row for row in reader]
csvfile.close()

# clean data
for d in data:
    d['year'] = int(d['year'])
    d['percent'] = float(d['percent'])

# insert in table
con = sqlite3.connect('babynames.db')
cur = con.cursor()
for d in data:
  cur.execute("INSERT INTO babynames VALUES(?,?,?,?)",tuple(d.values()))
con.commit()
con.close()

In [8]:
con = sqlite3.connect('babynames.db')
cur = con.cursor()
cur.execute("select name,count(*) as n from babynames where percent>0.03 group by name order by n desc")
z = cur.fetchall()
con.commit()
con.close()

In [9]:
z

[('James', 92),
 ('John', 91),
 ('Mary', 76),
 ('William', 74),
 ('Robert', 57),
 ('Michael', 42),
 ('George', 25),
 ('David', 24),
 ('Richard', 15),
 ('Charles', 15),
 ('Jennifer', 13),
 ('Linda', 9),
 ('Barbara', 7),
 ('Betty', 6),
 ('Jason', 5),
 ('Dorothy', 5),
 ('Christopher', 5),
 ('Helen', 4),
 ('Lisa', 3),
 ('Shirley', 2),
 ('Patricia', 1)]